#suggestion-header
	.container
		h1
			em &iquest;Qu&eacute; chingados como
			|  en
		#update-suggestion.btn-group
			button(type='button', data-toggle='dropdown', aria-expanded='false')
				| Tijuana
			ul.dropdown-menu(role='menu')
				li
					a(href='') Ensenada
				li
					a(href='') Mexicali
				li
					a(href='') Tijuana
		// #update-suggestion
		hr
	// .container
// #suggestion-header
#suggestion-title
	.container
		.row
			.col-xs-12.col-sm-8
				p#dynamic-phrase
					span(data-ng-bind='phrase')
					em(data-ng-bind='place.name')
			| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
			.col-xs-12.col-sm-4
				a#load-suggestion(href='', title='', data-ng-click="getPlace()")
					span Mejor otro
					span.height-control
		// .row
	// .container
// #suggestion-title
#suggestion-content
	.container
		.row
			.col-xs-12.col-sm-5
				h3 Nos conocen como:
				p(data-ng-bind='place.description')
				.row
					.col-xs-12.col-sm-6
						h3 Estamos en:
						p(data-ng-bind='place.address')
					.col-xs-12.col-sm-6
						h3 Por si se te antoja:
						p(data-ng-bind='place.type')
			.col-xs-12.col-sm-7
				h3 &iquest;De a cuanto el da&ntilde;o?:
				p(data-ng-bind='place.price')
				h3 M&aacute;s pinches detalles en: 
				a(data-ng-href='{{place.facebook}}', title='Más pinches detalles de {{place.name}}', target='_blank') 
					span(data-ng-bind='place.facebook')
				h3 Ll&aacute;manos al:
				a#tel(data-ng-href='tel:{{place.telephone}}', title='Llamar a {{place.name}}')
					span(data-ng-bind='place.telephone')
				p#servicio-domicilio(data-ng-show='place.has_delivery')
					| y te lo llevamos 
					br
					|  pa&acute;que no batalles.
		// .row
		.row
			.col-xs-12.col-sm-5
				a#please-share(href='', title='Opina no te hagas wey') Opina no te hagas wey
			.col-xs-12.col-sm-6
		// .row
	// .container
	#img
		img#place-image(ng-src='{{place.image}}', alt='{{place.name}}')
// #suggestion-content