/* *************** HEADER *************** */

@media screen and (max-width: 767px)

	#general-header
		text-align: right
		p
			margin: 0 0 5px

/* *************** FOOTER *************** */

@media screen and (min-width: 768px) and (max-width: 991px)
	#add-suggestion:after
		line-height: 0.9em

@media screen and (max-width: 767px)

	#general-footer
		padding: 20px 0 25px
	#general-footer, .credit
		text-align: center


/* *************** HOME *************** */

@media screen and (max-width: 767px)

	#suggestion-header
		padding: 15px 0 25px

	#suggestion-content
		padding: 30px 0 0

	#suggestion-header, #suggestion-title, #suggestion-content
		text-align: center

	#load-suggestion
		margin: 0 auto

	#img
		height: auto
		margin: 20px 0 0
		position: static
		width: 100%	

		img
			min-height: 1px

@media screen and (max-width: 500px)

	h1, h2, #update-suggestion button, #suggestion-title
		font-size: 26px

	#suggestion-title
		em
			font-size: 42px

	#load-suggestion
		height: 155px
		width: 155px	


/* *************** RESTAURANT SUGGESTION *************** */

@media screen and (max-width: 767px)

	#return-suggestion
		display: block
		line-height: 1em
		text-align: right

	input[type="submit"]
		display: block
		margin: 30px 0 0

@media screen and (max-width: 399px)
	#add-restaurant
		.btn-group
			.btn	
				width: 100%