/* ----------- SETUP -------------- */	
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/transition"
@import "compass/css3/font-face"
@import "compass/css3/images"
@import "compass/css3/opacity"

$img: "../images/"
$grey: #636363
$orange: #f65700
$red: #ed2b25
$yellow: #ffff00

/* ****************** FONTFACE ************** */
	
@font-face
	font-family: 'gotham-book'
	src: url('../fonts/gotham-book.eot')
	src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-book.woff') format('woff'), url('../fonts/gotham-book.ttf') format('truetype'), url('../fonts/gotham-book.svg#gotham-book') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'gotham-medium'
	src: url('../fonts/gotham-medium.eot')
	src: url('../fonts/gotham-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium.woff') format('woff'), url('../fonts/gotham-medium.ttf') format('truetype'), url('../fonts/gotham-medium.svg#gotham-medium') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'gotham-bold'
	src: url('../fonts/gotham-bold.eot')
	src: url('../fonts/gotham-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-bold.woff') format('woff'), url('../fonts/gotham-bold.ttf') format('truetype'), url('../fonts/gotham-bold.svg#gotham-bold') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'gotham-black'
	src: url('../fonts/gotham-black.eot')
	src: url('../fonts/gotham-black.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-black.woff') format('woff'), url('../fonts/gotham-black.ttf') format('truetype'), url('../fonts/gotham-black.svg#gotham-black') format('svg')
	font-weight: normal
	font-style: normal
	
	
%gotham-book
	font-family: "gotham-book", Arial, sans-serif
	font-weight: normal
	
%gotham-bold
	font-family: "gotham-bold", Arial, sans-serif
	font-weight: normal
	
%gotham-medium
	font-family: "gotham-medium", Verdana, sans-serif
	font-weight: normal
	
%gotham-ultra
	font-family: "gotham-black", Arial, sans-serif
	font-weight: normal
	
%times
	font-family: Times, "Times New Roman", serif
	font-weight: normal