@import "_setup.sass"

	
/* ****************** GENERAL ************** */

html, body
	background: white
	color: #282827
	@extend %times
	font-size: 17px
	letter-spacing: 0.04em
	line-height: 1.4em
	margin: 0
	padding: 0
	position: relative

h1, h2
	color: white
	@extend %gotham-book
	font-size: 34px
	font-weight: normal
	line-height: 1.3em

	em
		@extend %gotham-bold
		font-style: normal

a
	color: #010101

	&:hover, &:active, &:focus
		color: #010101
		text-decoration: none

	
/* ****************** LAYOUT ************** */

#general-header, #general-footer
	background: $red
	color: white

	a
		color: white

		&:hover, &:active, &:focus
			color: $yellow


span.height-control
	display: inline-block
	height: 100%
	margin: 0 0 0 -1px
	vertical-align: middle
	width: 1px			

/* ****************** HEADER ************** */
#general-header
	@extend %gotham-medium
	font-size: 12px
	padding: 15px 0

	p, a
		line-height: 1em
		margin: 0

	a
		display: inline-block

/* ****************** FOOTER ************** */	

#general-footer
	@extend %gotham-medium
	font-size: 15px
	padding: 30px 0

#follow
	span
		background: url(#{$img}general-sprite.png) -24px -252px no-repeat
		display: inline-block
		height: 25px
		line-height: 5000em
		overflow: hidden
		@include transition(.4s)
		vertical-align: middle
		width: 25px

	&:hover, &:focus, &:active
		span
			-webkit-animation-duration: 1s
			animation-duration: 1s
			-webkit-animation-fill-mode: both
			animation-fill-mode: both
			animation-name: wobble

.credit
	font-size: 10px
	line-height: 1.2em
	margin: 10px 0 0
	padding: 0 0 15px
	text-align: left

	a
		font-size: 10px
		text-transform: uppercase
	
		&:hover, &:focus, &:active
			color: $yellow

.visible-xs
	.credit
		margin: 30px 0 0


a#add-suggestion
	border: 3px solid white
	@include border-radius(40px)
	display: inline-block
	@extend %gotham-book
	font-size: 14px
	line-height: 1em
	overflow: hidden
	padding: 7px 40px 8px 10px
	position: relative
	@include transition(.4s)

	span
		position: relative
		z-index: 5

	&:before
		background: white
		content: " "
		display: block
		height: 100%
		left: 0
		position: absolute
		top: 0
		@include transition(.2s)
		width: 0
		z-index: 1

	&:after
		color: white
		height: 15px
		content: "+"
		font-size: 28px
		line-height: 0.5em
		position: absolute
		right: 15px
		top: 7px
		width: 11px	
		z-index: 5

	&:hover, &:active, &:focus
		background: white
		color: $red

		&:before
			width: 100%

		&:after
			color: $red

/* ************** ANIMATION ************ */
/* TODO: Compass no tiene fn's para esto? -webkit*** */
.grow
	display: inline-block
	vertical-align: middle
	-webkit-transform: translateZ(0)
	transform: translateZ(0)
	-webkit-backface-visibility: hidden
	backface-visibility: hidden
	-moz-osx-font-smoothing: grayscale
	-webkit-transition-duration: 0.3s
	transition-duration: 0.3s
	-webkit-transition-property: transform
	transition-property: transform

	&:hover, &:active, &:focus
		-webkit-transform: scale(1.1)
		transform: scale(1.1)

/* ************** VALIDATION ************ */
#addPlaceForm
	.ng-dirty.ng-invalid
		border: 1px solid red

#addPlaceForm.validate
	.ng-invalid
		border: 1px solid red

@import "sections/_home"
@import "sections/_restaurant-suggestion"
@import "_responsive"