section#add-restaurant
	.container
		form#addPlaceForm(name='addPlaceForm', novalidate="novalidate" , data-ng-class="{'validate': validateForm}")
			.row
				.col-xs-12.col-sm-6
					<!-- TODO: debes mostrar msg min, max. 20 es muy poco. Esto aplica en todos los otros campos. -->
					label Nombre del negocio:
					input#name.custom-textbox(type='text', name='name', data-ng-model="place.name", data-ng-required='true', data-ng-minlength='1', data-ng-maxlength='140')

					<!-- TODO: debes mostrar msg min, max. 25 palabras no es igual a 25 letras. Vamos a dejar 140 max-length -->
					label.inline Describe tu negocio:
					span.small.inline.no-margin-top M&aacute;ximo 25 palabras
					textarea#message(name='description', data-ng-model="place.description", data-ng-required='true', data-ng-minlength='1', data-ng-maxlength='25')
					
					label.no-margin-bottom Colonia:
					span.smallest.no-margin-top Donde estas?
					input#neighborhood1(type='text', name='address', data-ng-model="place.address", data-ng-required='true', data-ng-minlength='1', data-ng-maxlength='140')
				
				.col-xs-12.col-sm-6
					label Tipo de comida:
					input#typeFood(type='text', name='type', data-ng-model="place.type", data-ng-required='true', data-ng-minlength='1', data-ng-maxlength='140')
					
					label Rango de precios:
					.btn-group
						label.btn(data-ng-click='place.price = 1', data-ng-class="{'active':place.price == 1}") Bien bara
						label.btn(data-ng-click='place.price = 2', data-ng-class="{'active':place.price == 2}") Dos triquis
						label.btn(data-ng-click='place.price = 3', data-ng-class="{'active':place.price == 3}") Ponte guapo

					label Pon el link de una foto chingona:
					input#name.custom-textbox(type='text', name='uploadPicture', placeholder="http://tupagina.com/logo.jpg", data-ng-model="place.image", data-ng-required='true', data-ng-minlength='1', data-ng-maxlength='250')
					span.small
						| Te sugerimos que sea en formato JPG, horizontal y que se vea la fachada de tu negocio
					
					label P&aacute;gina del negocio:
					input#facebookLink(type='text', name='pagina', placeholder="http://tupagina.com" data-ng-model="place.facebook", data-ng-required='true', data-ng-minlength='1', data-ng-maxlength='250')
					
					label Tel&eacute;fono del negocio:
					input#telephone(type='tel', name='telephone', data-ng-model="place.telephone", data-ng-required='true', data-ng-minlength='1', data-ng-maxlength='140')
					
					label &iquest;Cuenta con servicio a domicilio?
					label.inline
						input(type='radio', name='has_delivery', value='true', data-ng-model='place.has_delivery')
						span.lbl S&iacute;
					label.inline
						input(type='radio', name='has_delivery', value='false', data-ng-model='place.has_delivery')
						span.lbl No
			// .row
			p#msg.text-right(data-ng-bind='msg')
			.row
				.col-xs-12.col-sm-6
					a#tell-friend(href='', title='Dile a un amigo que comparta un buen lugar para comer')
						| Dile a un amigo que publique un buen lugar para comer 
						span
				.col-xs-12.col-sm-6.text-right
					input(type='submit', value='Publicar', data-ng-click="addPlace(addPlaceForm, place)")
// #add-restaurant