/* *************** HOME *************** */
#suggestion-header
	background: $red
	padding: 45px 0 25px

	h1
		display: inline-block
		margin: 0
		vertical-align: middle

	hr
		border-color: white
		margin: 3px 0 0

#update-suggestion
	display: inline-block
	margin: 0 0 0 10px
	vertical-align: middle

	button
		background: transparent
		border: none
		color: white
		@extend %gotham-book
		font-size: 34px
		line-height: 1em
		padding:  0 40px 0 0
		position: relative

		&:after
			background: url(#{$img}general-sprite.png) 0 0 no-repeat
			content: " "
			display: block
			height: 16px
			position: absolute
			right: 0
			top: 5px
			width: 27px

		&:hover
			color: $yellow

			&:after
				background-position: 0 -16px

	.dropdown-menu
		@extend %gotham-book
#suggestion-title
	background: $red
	color: white
	font-size: 35px
	line-height: 1em
	padding: 0 0 26px

	em
		display: block
		@extend %gotham-ultra
		font-size: 52px
		line-height: 1em
		font-style: normal
		text-transform: uppercase

#dynamic-phrase
	margin-top: 20px

#load-suggestion
	background: transparent
	@include border-radius(170px)
	border: 5px solid white	
	color: white
	display: block
	height: 205px
	@extend %gotham-medium
	font-size: 21px
	line-height: 1em
	overflow: hidden
	position: relative
	text-align: center
	text-transform: uppercase
	@include transition(.4s)
	max-width: 100%
	width: 205px

	span
		display: inline-block
		position: relative
		vertical-align: middle
		z-index: 5

	&:after
		background: white
		content: " "
		display: block
		height: 0
		left: 0
		position: absolute
		top: 0
		@include transition(.2s)
		width: 100%
		z-index: 1

	&:hover, &:active, &:focus
		background: white
		color: $red
		&:after
			border: 1px solid white	
			height: 100%
#suggestion-content
	font-size: 17px
	line-height: 1.1em
	overflow: hidden
	padding: 30px 0 15px
	position: relative

	h3
		color: $red
		@extend %gotham-medium
		font-size: 15px
		line-height: 1em
		margin: 5px 0 10px

	.row
		.row
			margin-top: 50px

	a
		&:hover, &:focus, &:active
			color: $orange

	#tel
		&:hover, &:focus, &:active
			color: white
#img
	height: 100%
	position: absolute
	right: 0
	top: 0
	overflow: hidden
	width: 30%

	img
		min-height: 100%
		min-width: 100%
		width: auto
#tel
	border: 3px solid $red
	@include border-radius(60px)
	display: inline-block
	overflow: hidden
	left: -3px
	line-height: 1em
	padding: 8px 17px 5px
	position: relative
	@include transition(.4s)

	span
		position: relative
		z-index: 5

	&:after
		background: $red
		content: " "
		display: block
		height: 100%
		left: 0
		position: absolute
		top: 0
		@include transition(.2s)
		width: 0
		z-index: 1

	&:hover, &:active, &:focus
		background: $red
		color: white
		&:after
			width: 100%

#servicio-domicilio
	color: $red
	@extend %gotham-medium
	font-size: 15px
	line-height: 1em
	margin: 15px 0 10px

#please-share
	color: $grey
	@extend %gotham-medium
	font-size: 10px
	text-transform: uppercase	

#share, #share-list
	display: inline-block
	margin: 0
	vertical-align: middle

#share-list
	list-style-type: none
	padding: 0	
	a
		display: block
		height: 100%
		line-height: 5000em
		overflow: hidden
		position: relative
		width: 100%

	li
		@include border-radius(50px)
		display: inline-block
		height: 30px
		margin: 0 0 0 10px
		position: relative
		width: 30px

		&:after
			background: url(#{$img}general-sprite.png) 0 -33px no-repeat
			content: " "
			display: block
			left: 50%
			position: absolute
			top: 8px

		&:hover, &:active, &:focus
			&:after
				-webkit-transform: translateZ(0)
				transform: translateZ(0)

	.facebook
		background: #4564AE
		&:after
			height: 12px
			margin: 0 0 0 -4px
			width: 7px

		&:hover, &:active, &:focus
			background: darken(#4564AE, 10)