/* *************** RESTAURANT SUGGESTION *************** */
#add-restaurant
	padding: 0 !important

	h2
		border-bottom: 1px solid $red
		color: $red
		padding: 0 0 10px

	.close
		display: block
		float: none
		margin: 0 0 0 auto

	.modal-footer
		border: none
		padding-top: 35px
		text-align: left

	.btn-group
		margin-bottom: 15px
		width: 100%

		.btn
			background: #F7F7F7
			@include border-radius(0)
			color: black
			font-family: "Myriad Pro", "gotham-medium", Verdana, sans-serif
			font-size: 16px
			padding: 7px 10px
			width: 33.3%

		.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn, .btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active
			background: $red
			color: white

#upload-picture
	background: $red
	border: none
	color: white
	display: inline-block
	@extend %gotham-medium
	font-size: 14px
	padding: 4px 10px

	&:hover, &:focus, &:active
		background: lighten($red, 10)

.modal-dialog
	height: 100%
	margin: 0 auto
	padding-right: 0
	width: 100%

.modal-content
	border: none
	@include border-radius(0)
	@include box-shadow(none)
	min-height: 100%

#add-restaurant-header
	border: none
	color: $red
	margin-bottom: 15px
	padding: 15px 0 0
	a
		color: $red
		@extend %gotham-medium
		font-size: 12px

		&:hover, &:focus, &:active
			color: $orange
	h2
		color: $red

#add-restaurant-footer
	padding: 35px 0 15px
	
	p
		border-top: 1px solid $red

label
	color: $red
	display: block
	@extend %gotham-medium	
	font-size: 14px
	margin: 0 0 10px

label.inline, span.inline
	display: inline-block

label.no-margin-bottom
	margin-bottom: 0

span.no-margin-top
	margin-top: 0

.lbl
	margin-right: 20px !important

.small, .smallest	
	color: #A9A8A8
	display: block
	@extend %gotham-medium
	font-size: 11px
	line-height: 1.2em
	margin-bottom: 15px
	margin-top: 8px
	max-width: 150px

.smallest	
	max-width: 120px

span.small.inline, span.smallest.inline
	margin-left: 10px

input[type=text],input[type=tel],input[type=email], textarea
	background: #f7f7f7
	border: none
	color: #010101
	font-family: "Myriad Pro", "gotham-medium", Verdana, sans-serif
	font-size: 16px
	letter-spacing: .04em
	line-height: 1.2em
	margin: 0 0 15px
	padding: 8px 10px
	width: 100%

textarea
	height: 150px	

#msg
	color: $red
	@extend %gotham-bold
	font-size: 13px
	margin: 0 0 15px
	min-height: 25px


input[type=submit]
	background: $red
	border: none
	@include border-radius(50px)
	color: white
	display: inline-block
	@extend %gotham-medium
	font-size: 24px
	margin: 0
	padding: 10px 35px
	text-transform: uppercase

	&:hover, &:focus, &:active
		background: lighten($red, 10)


#tell-friend
	color: $red
	display: block
	@extend %gotham-medium
	font-size: 14px
	line-height: 1.1em
	max-width: 300px
	padding: 0 0 0 43px
	position: relative

	&:hover, &:focus, &:active
		color: $orange
		span
			background: darken(#4564AE, 10)

	span
		background: #4564AE
		@include border-radius(50px)
		display: block
		height: 30px
		left: 0
		position: absolute
		top: 0
		width: 30px


		&:before
			background: url(#{$img}general-sprite.png) 0 -33px no-repeat
			content: " "
			display: block
			height: 12px
			left: 50%
			margin: 0 0 0 -4px
			position: absolute
			top: 9px
			width: 7px


#credit-inside-suggestion
	color: $red
	@extend %gotham-medium
	font-size: 11px

	a
		color: $red
		text-transform: uppercase

		&:hover, &:focus, &:active
			color: $orange
			text-decoration: none




/* ---------------- CHECKBOX ---------------- */
/* Hiding default checkbox and Radio button design */

input[type=checkbox],input[type=radio]
	opacity: 0
	position: absolute
	z-index: 12
	width: 18px
	height: 18px

 
/* Disable outline when clicked */
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus
	outline: none !important
 
input[type=checkbox]+.lbl,input[type=radio]+.lbl
	position: relative
	z-index: 11
	display: inline-block
	margin: 0
	line-height: 20px
	min-height: 14px
	min-width: 14px
	font-weight: normal

input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before
	font-family: fontAwesome
	font-weight: normal
	font-size: 11px
	color: $red
	content: "\a0"
	background-color: #FAFAFA
	border: 3px solid $red
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
	border-radius: 0
	display: inline-block
	text-align: center
	vertical-align: middle
	height: 18px
	line-height: 13px
	min-width: 18px
	margin-right: 1px
	margin-top: -5px
 
/* Checked state styles */
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before
	display: inline-block
	content: '\f00c'
	background-color: #F5F8FC
	border-color: $red
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1)
	line-height: 1em

/* Hover state styles */
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before
	border-color: lighten($red, 10)
 
/* Shadow when checked or Active */
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1)
 
/* Disabled state styles */
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before
	background-color: #DDD !important
	border-color: #CCC !important
	box-shadow: none !important
	color: #BBB