doctype html
html(lang='es', data-ng-app="mintApp")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0')
		meta(name='keywords', content='Qué chingados como en Tijuana')
		meta(name='description', content='Qué chingados como en Tijuana')
		title Qu&eacute; chingados como en Tijuana

		link(href='/css/vendor/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
		link(href='/css/screen.css', rel='stylesheet', type='text/css')
		link(rel='icon', type='image/png', href='/images/favicon.ico')
	body(data-ng-controller="gralCtrl")
		header#header
			include ./header

		section#main-content
			.view-frame(ng-view)
		// #main-content

		footer#footer
			include ./footer
			
		script(src='/js/vendor/angular.min.js')
		script(src='/js/vendor/ui-bootstrap.min.js')
		script(src='/js/vendor/angular-route.min.js')
		script(src='/js/mint.app.js')