#general-footer(data-ng-show="isHome")
	.container
		.row
			.hidden-xs.col-xs-12.col-sm-4
				p.credit
					| Desarrollado con un chingo de ganas por: 
					a(href='http://somospool.com/', title='Pool Branding', target='_blank') Pool
					|  + 
					a(href='http://mintitmedia.com/', title='Mint IT Media | Diseño y desarrollo web', target='_blank') Mint
			.col-xs-12.col-sm-4.text-center
				p#share Comparte no seas &ldquo;comesolo&rdquo;
				ul#share-list
					li.facebook
						a(href='', title='Comparte en facebook') Facebook
			.col-xs-12.col-sm-4
				a#add-suggestion(data-ng-href='/lugar/agregar', title='Agrega otro lugar para comer', data-toggle='modal', data-target='#add-restaurant')
					span Agrega otro lugar para comer
		.visible-xs
			p.credit
				| Desarrollado con un chingo de ganas por: 
				a(href='http://somospool.com/', title='Pool Branding', target='_blank') Pool
				|  + 
				a(href='http://mintitmedia.com/', title='Mint IT Media | Diseño y desarrollo web', target='_blank') Mint
	// .container


#add-restaurant-footer(data-ng-hide="isHome")
	.container
		p#credit-inside-suggestion
			| Desarrollado con un chingo de ganas por: 
			a(href='http://somospool.com/', title='Pool Branding', target='_blank') Pool
			|  + 
			a(href='http://mintitmedia.com/', title='Mint IT Media | Diseño y desarrollo web', target='_blank') Mint
// #add-restaurant-footer