#general-header(data-ng-show="isHome")
	.container
		.row
			.col-xs-12.col-sm-6
				p El rojo es pa&acute; que te de hambre
			.col-xs-12.col-sm-6.text-right
				// a(data-ng-href='/nosotros') &iquest;Qu&eacute; es esta madre?
		
	// .container

#add-restaurant-header(data-ng-hide="isHome")
	.container
		.row
			.col-xs-12.col-sm-6
				a#return-suggestion(href='/', title='Ver dónde chingados como') ¿Qué chingados como?

				
			.col-xs-12.col-sm-6.text-right
				// a(data-ng-href='/nosotros', title='Ver qu&eacute; es esta madre') &iquest;Qu&eacute; es esta madre?

		h2#add-restaurant-label
			em Agrega un lugar para comer
			|  en Tijuana
// #add-restaurant-header